@model List<string>
@{
    int i = 1;
    var role = ViewBag.Roles;
}

<h4>Role - @role</h4>

<table>
    @foreach (var val in Model)
    {
        <tr>
            <td width="20px">@i.</td>
            <td>@val</td>
        </tr>
        i++;
    }
</table>

<br />
<br />

<form asp-action="AddRole" asp-controller="Admin" asp-antiforgery="true">
    <div>
        <h4>Add Role - @role</h4>
        <div>
            <label>Email</label>
            <input type="text" name="email" />
            <input hidden name="role" autocomplete="off" value=@role />
        </div>
        <div class="my_button">
            <button class="btn btn-primary" type="submit"> Add </button>
        </div>
    </div>
</form>

<form asp-action="DeleteRole" asp-controller="Admin" asp-antiforgery="true">
    <div>
        <h4>Delete Role - @role</h4>
        <div>
            <label>Email</label>
            <input type="text" name="email" />
            <input hidden name="role" autocomplete="off" value=@role />
        </div>
        <div class="my_button">
            <button class="btn btn-primary" type="submit"> Delete </button>
        </div>
    </div>
</form>