@model Video

<table class="table table-hover" width="100%">
    <tbody>
        <tr>
            <td rowspan="8" width="250px" style="text-align:center">
                @if (Model.Skin != null)
                {
                    <img style='width:200px;' src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.Skin))" />
                }
            </td>
            <td width="150px">@Html.LabelFor(x => x.Name)</td>
            <td>@Model.Name</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(x => x.Description)</td>
            <td>@Model.Description</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(x => x.Country)</td>
            <td>@Model.Country!.Name</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(x => x.Genre)</td>
            <td>@Model.Genre!.Name</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(x => x.MakeDate)</td>
            <td>@Model.MakeDate?.Year</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(x => x.AgeRestriction)</td>
            <td>@Model.AgeRestriction</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(x => x.TimeVideo)</td>
            <td>@Model.TimeVideo</td>
        </tr>
    </tbody>
</table>