@model Video

<table class="table-bordered">
    <tbody>
        <tr>
            <td rowspan="8">kdsf</td>
            <td>@Html.LabelFor(x => x.Name)</td>
            <td>@Html.LabelForModel(Model.Name)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(x => x.Name)</td>
            <td>@Html.LabelForModel(Model.Name)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(x => x.Name)</td>
            <td>@Html.LabelForModel(Model.Name)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(x => x.Name)</td>
            <td>@Html.LabelForModel(Model.Name)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(x => x.Name)</td>
            <td>@Html.LabelForModel(Model.Name)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(x => x.Name)</td>
            <td>@Html.LabelForModel(Model.Name)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(x => x.Name)</td>
            <td>@Html.LabelForModel(Model.Name)</td>
        </tr>
    </tbody>
</table>